#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(20,30,13, .7);
    margin-top: 50px;
}

.home-title {
    grid-column: 2/3;
    margin-top: -300px;
    background-color: rgba(255,255,255,0.5);
}

.home-grid {
    display: grid;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.5);
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    background-color: black;
    color: white;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#warp9-wheels-img {
    width: 100%;
}

#surron-tires {
    width: 100%;
}

footer .social img {
    color: black;
    text-decoration: none;
    justify-content: space-around;
    padding-top: 15px;
}

footer {
    background-color: rgba(20,30,13, .7);
    color: black;
    padding: 25px 50px;    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 30px;
    justify-content: space-around;
}

footer a:hover {
    color: white;
}